table {
    width: 100%;
    margin-top: 10px;
  }

  th{
    width: 20%;
  }

  .iconos{
    margin-right: 30px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }